* {
  background-color: #4d6174;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9bc8f2;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
}

.question {
  width: 45%;
  border: solid 0.5rem #9bc8f2;
  border-radius: 0.25rem;
  align-content: center;
  margin: 2rem;
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: 3rem;
  display: none;
}

.answer {
  width: 45%;
  border: solid 0.5rem #9bc8f2;
  border-radius: 0.25rem;
  align-content: center;
  margin: 2rem;
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: 3rem;
  display: none;
}

.addition {
  padding: 1.25rem 2rem;
  border: solid 3px #682043;
  border-radius: 0.5rem;
  color: #9bc8f2;
  font-size: 1.5rem;
  margin: 0 2rem;
}

.subtraction {
  padding: 1.25rem 2rem;
  border: solid 3px #682043;
  border-radius: 0.5rem;
  color: #9bc8f2;
  font-size: 1.5rem;
  margin: 0 2rem;
}

.multiply {
  padding: 1.25rem 2rem;
  border: solid 3px #682043;
  border-radius: 0.5rem;
  color: #9bc8f2;
  font-size: 1.5rem;
  margin: 0 2rem;
}

.check {
  padding: 1.25rem 2rem;
  border: solid 3px #682043;
  border-radius: 0.5rem;
  color: #9bc8f2;
  font-size: 1.5rem;
  margin: 0 2rem;
  display: none;
}

.nextAdd {
  padding: 1.25rem 2rem;
  border: solid 3px #682043;
  border-radius: 0.5rem;
  color: #9bc8f2;
  font-size: 1.5rem;
  margin: 0 2rem;
  display: none;
}

.nextSub {
  padding: 1.25rem 2rem;
  border: solid 3px #682043;
  border-radius: 0.5rem;
  color: #9bc8f2;
  font-size: 1.5rem;
  margin: 0 2rem;
  display: none;
}

.nextMulti {
  padding: 1.25rem 2rem;
  border: solid 3px #682043;
  border-radius: 0.5rem;
  color: #9bc8f2;
  font-size: 1.5rem;
  margin: 0 2rem;
  display: none;
}

.startOver {
  padding: 1.25rem 2rem;
  border: solid 3px #682043;
  border-radius: 0.5rem;
  color: #9bc8f2;
  font-size: 1.5rem;
  margin: 1rem 2rem;
  display: none;
}

button:hover {
  padding: 1.25rem 2rem;
  border: solid 3px #9bc8f2;
  border-radius: 0.5rem;
  color: #9bc8f2;
  background-color: #682043;
  transform: scale(1.2);
}